@charset "UTF-8";
/*gris foncé*/
/*gris clair*/
/*ombre portée boutons et cartes*/
body {
  font-size: 16px;
  font-family: Roboto;
  margin: 0px;
}

.container {
  width: 100%;
  display: flex;
  /*ajout media querie*/
  flex-direction: column;
}

div {
  display: flex;
}

h1 {
  font-size: 1.6em;
  margin: 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-size: 1.1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
  font-family: Shrikhand;
}

p {
  display: block;
  font-size: 1em;
  font-weight: 300;
  margin-block-start: 0.2em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  color: black;
}
a:focus {
  color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
  padding: 0em;
}

/*dégradé boutons et coeurs*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 5px 0px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.fa-arrow-left {
  display: flex;
  font-size: 1.5em;
  position: absolute;
  left: 1em;
  top: 0.7em;
}

img.logo {
  width: 10em;
}

footer {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  padding: 0em 2em 2em 1.5em;
  justify-content: flex-start;
}

ul {
  margin: 0em;
}
ul li {
  padding-bottom: 0.4em;
  font-size: 1em;
  color: #ffffff;
}

.fas {
  padding: 0em 0.5em 0em 0em;
}

/*bouton unique sur chaque page*/
.btnPrincipal {
  color: #ffffff;
  font: 500 1em Roboto;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1em 1.2em;
  margin: 2em 0em;
  border: none;
  border-radius: 20em;
  cursor: pointer;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.fa-heart {
  color: black;
  font-size: 1.6em;
  font-weight: 300;
}
.fa-heart:hover {
  background-color: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

#exploration {
  background-color: #eee;
}

.fa-map-marker-alt {
  margin: 1em;
}

.geoloc {
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}
.geoloc p {
  font-weight: 600;
  font-size: 1em;
}

.exploTitle {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em 2em;
}
.exploTitle h1 {
  text-align: center;
}
.exploTitle p {
  text-align: center;
  font-size: 1.1em;
}

#operationMode {
  padding: 1.5em;
  background-color: #ffffff;
}
@media (min-width: 1024px) {
  #operationMode {
    width: 80%;
    margin: auto;
  }
}

.opeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  grid-template-rows: repeat(3, 1fr);
  margin: 1em;
}
@media (min-width: 1024px) {
  .opeGrid {
    grid-column-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.opeCard {
  align-items: center;
  padding: 1em 0.5em;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 1em;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
.opeCard--order {
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  width: 1.5em;
  height: 1.5em;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  position: relative;
  left: -1.4em;
}
.opeCard .fas {
  color: grey;
  font-size: 1.2em;
  font-weight: 800;
  padding: 0em 1em;
}
.opeCard .fa-store {
  color: #9356DC;
}
.opeCard p {
  font: 600 0.9em Roboto;
}

#restaurants {
  background-color: #eee;
  padding: 3em 0em;
}

.restoContainer {
  flex-direction: column;
  margin: 0em 1.5em;
}
@media (min-width: 1024px) {
  .restoContainer {
    width: 80%;
    margin: auto;
  }
}
.restoContainer h2 {
  margin-block-end: 1em;
}

.menuGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 2em;
  grid-template-rows: repeat(4, 1fr);
}
@media (min-width: 750px) {
  .menuGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em;
  }
}

.menuLink {
  border-radius: 1em;
  margin: 0em;
  width: 100%;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.menuCard {
  flex-direction: column;
}
.menuCard--pic {
  height: 11em;
  border-radius: 1em 1em 0em 0em;
  object-fit: cover;
}
.menuCard--info {
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0em 0em 1em 1em;
  padding: 1em;
}
.menuCard--name {
  flex-direction: column;
}

.topImg {
  width: 100%;
  height: 15em;
  object-fit: cover;
  position: relative;
}

@media (max-width: 35em) {
  main {
    background-color: #eee;
  }
}

.menuContainer {
  flex-direction: column;
  border-radius: 3em;
  background-color: #eee;
  position: relative;
  top: -4em;
}
.menuContainer--title {
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 1.5em 0.5em 1.5em;
}
.menuContainer--title h1 {
  font-family: Shrikhand;
  font-weight: 400;
  margin: 0em;
}
@media (min-width: 1024px) {
  .menuContainer--title {
    justify-content: space-evenly;
  }
}
.menuContainer button {
  width: 13em;
  align-self: center;
}
@media (max-width: 1023px) {
  .menuContainer {
    max-width: 35em;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .menuContainer {
    margin: 0em 2em;
  }
}

.dishGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  grid-template-rows: repeat(3, 1fr);
  margin: 1em;
  margin-top: 0em;
}
@media (min-width: 1024px) {
  .dishGrid {
    grid-column-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.dish {
  flex-direction: column;
  margin: 1em 0.5em;
}
.dish h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
  margin-inline-start: 5px;
  padding-bottom: 0.5em;
  border-bottom: solid 0.2em #99E2D0;
}

.dishOption {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #ffffff;
  padding: 0.7em;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}
.dishOption--name {
  display: block;
}
.dishOption p {
  font-size: 0.95em;
}
.dishOption .price {
  font-weight: 600;
}

.checked {
  display: none;
}

/*# sourceMappingURL=style.css.map */
