/*bouton unique sur chaque page*/
.btnPrincipal {
    color: $white;
    font: 500 1em Roboto;
    @include linearGradiant;
    padding: 1em 1.2em;    
    margin: 2em 0em;
    border: none;
    border-radius: 20em;
    cursor: pointer;
    @include shadow;
    transition: opacity 800ms, box-shadow 800ms;
    &:hover{
        opacity: 0.8;
        @include shadow($darkShadowco);
    }
}
