.btnPrincipal {
    color: $white;
    font: 500 1em Roboto;
    @include linearGradiant;
    padding: 1em 1.2em;    
    margin: 2em 0em 4em 0em;
    border: none;
    border-radius: 20em;
    cursor: pointer;
    @include shadow;
}
