.btnPrincipal {
    color: white;
    font: 500 1em Roboto;
    background-image: linear-gradient(to bottom right,$secondary-color, $primary-color);
    padding: 1em 1.2em;    
    margin: 2em 0em 4em 0em;
    border: none;
    border-radius: 20em;
    cursor: pointer;
    @include shadow;
}
