.like-btn {
    display: flex;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    padding: 0em;
    border: none;
    background-color: transparent;
    .fa-heart {
        font-size: 2em;
        position: absolute;
        transition: opacity  500ms ease-in-out;
    }
    .fas {
        opacity: 0;
        background: -webkit-linear-gradient(top, $primary-color 0%,$secondary-color 100%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    &:hover {
        .fas {
            opacity:1;
        }
        .far {
            opacity: 0;
        }
    }
}