.fa-heart{
    font-size: 1.6em;
    font-weight: 300;
    transition-property: background-color, color;
    transition-duration: 500ms;
    &:hover{
        color: $secondary-color;
        background-color: linear-gradient(to bottom right,$secondary-color, $primary-color);
       
    }
}