.fa-heart{
    font-size: 1.6em;
    font-weight: 300;
    padding: 0em;
    position: absolute;
    right: 0.7em;
}

.fas.fa-heart{
    z-index: 2;
    opacity: 0;
    color: $secondary-color;
    &:hover{
        animation: heartColored 500ms forwards;
    }
}
.far.fa-heart{
    color: black;
    z-index: 1;
    &:hover {
        opacity: 0;
    }
}
/*@keyframes heartBorder {
    0% {
        z-index: 1;
    }
    100% {
        z-index: -1;
    }
}*/
@keyframes heartColored {
    0% {
       opacity: 0; 
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}