body {
    background-color: $primary-color;
    color: aqua;
    font-size: 16px;
    font-family: Roboto;
}
.container {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
div {
    display: block;
    img {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1em;
    font-weight: 700;
}
h4 {
    font-family: Shrikhand;
}