@mixin shadow($color: $shadowco){
    box-shadow: 0px 1px 8px $color;
}
/*dégradé boutons et coeurs*/
@mixin linearGradiant {
    background-image: linear-gradient(to bottom right,$secondary-color, $primary-color);
}
@mixin grid {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2em;
}
@mixin lightRadius {
    border-radius: 1em;
}