$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white: #ffffff;

$footerco: rgb(0, 0, 0, 0.8); /*gris foncé*/

$background :#eee;/*gris clair*/
$shadowco: rgb(0, 0, 0, 0.1);/*ombre portée boutons et cartes*/
