$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white: #ffffff;

$footerco: rgb(0, 0, 0, 0.8); /*gris foncé*/

$background :rgb(0, 0, 0, 0.03);/*gris clair*/
$shadowco: rgb(0, 0, 0, 0.1);/*ombre portée boutons et cartes*/